.zoom {
  position:relative;
    transition: transform .2s ease; /* Animation */
    overflow:hidden;
    display:block;
    height : 20;
    width:50;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #dam:active{
    animation: wobble 0.5s ;
    
  }

  @keyframes wobble {
  25% {  
    opacity: 0;
  }
  50% {
 
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}